.custom-shape-divider-bottom-1693903311 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1693903311 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 51px;
}

.custom-shape-divider-bottom-1693903311 .shape-fill {
    fill: #000000;
}