.custom-shape-divider-top-1693849083 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  
  .custom-shape-divider-top-1693849083 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 54px;
  }
  
  .custom-shape-divider-top-1693849083 .shape-fill {
    fill: #000000;
  }