section.about-me .about-me-photo{
    position: relative;
    background-image: url('../../../assets/img/AboutMePhoto.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}


section.about-me .about-me-text{
    padding: 80px 40px;
}

[data-bs-theme='light'] section.about-me .about-me-text{
    /*background-color: blueviolet;*/
    color: #f0f0f0;
}
[data-bs-theme='dark'] section.about-me .about-me-text{
    background-color: #121416;
    color: #f0f0f0;
}
