$accent1: #ef37a1;

section.about-me{
    position: relative;
    color: #333;
    background-color: #e0e0e0;
    padding: 160px 0;
}
section.about-me .about-me-left .about-me-photo{
    display: flex;
    align-items: center; /* Vertically center the image */
    overflow: hidden; /* Crop the image */
    height: 100%; /* Set a fixed height for the column */
}

section.about-me .about-me-left{
    margin-bottom: 10px;
}

section.about-me .about-me-photo img{
    width: 100%; /* Make sure the image covers the entire column width */
    height: 100%; /* Ensure the image takes up the full column height */
    object-fit: cover; /* Maintain aspect ratio and cover the column */
}

/*section.about-me .about-me-photo{
    position: relative;
    background-image: url('../../../assets/img/AboutMePhoto.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}*/

[data-bs-theme='dark'] section.about-me .about-me-text{

    color: #f0f0f0;
}