.hero-container {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero-content-h1 {
    font-size: 6rem;
    margin-bottom: 1rem;
}

.hero-content-button{
    background-color: #ef37a1;
    border-color: #ef37a1;
}