/* Hero.css */
.hero-container {
  position: relative;
  /*background-image: url('../../../assets/img/hero4.jpeg');*/
  background-color: #fff;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


[data-bs-theme='dark'] .hero-container {
  background-color: #000;
}

.hero-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none; /* Allow clicks to pass through the overlay */
}

[data-bs-theme='dark'] .hero-overlay{
  background-color: rgba(0, 0, 0, 0.8); /* Adjust overlay color and opacity */
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero-content h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
}

[data-bs-theme='dark'] .custom-shape-divider-top-1693831144 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

[data-bs-theme='dark'] .custom-shape-divider-top-1693831144 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

[data-bs-theme='dark'] .custom-shape-divider-top-1693831144 .shape-fill {
  fill: #FFFFFF;
}

[data-bs-theme='light'] .custom-shape-divider-top-1693831651 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

[data-bs-theme='light'] .custom-shape-divider-top-1693831651 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

[data-bs-theme='light'] .custom-shape-divider-top-1693831651 .shape-fill {
  fill: #000000;
}

#hero .btn{
  background-color: #ef37a1;
  border-color: #ef37a1;
}