/* Hero.css */
.hero {
    position: relative;
    background-image: url('../../../assets/img/hero2.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none; /* Allow clicks to pass through the overlay */
  }

  [data-bs-theme='dark'] .hero-overlay{
    background-color: rgba(0, 0, 0, 0.8); /* Adjust overlay color and opacity */
  }
  
  .hero-content {
    position: relative;
    color: rgb(33, 37, 41);
    z-index: 2;
  }
  [data-bs-theme='dark'] .hero-content {
    color: #f0f0f0;
  }

  .hero-content h1 {
    font-size: 6rem;
    margin-bottom: 1rem;
  }
  
  .hero-content p {
    font-size: 1.25rem;
  }
  .hero img{
    max-width: 100%;
  }