$accent1: #ef37a1;

.navbar-light {
    background-color: #000;
}
.navbar-nav .nav-link, 
.navbar {
    color: #fff;
}
.navbar-moon, 
.navbar .navbar-brand, 
.navbar-nav .nav-link:hover, 
.navbar .navbar-brand:hover 
{
    color: $accent1;
}

.form-check-input:checked{
    background-color: #000;
    border-color: $accent1;
}

.stars-overlay {
    position: fixed; /* or position: absolute; depending on your preference */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

.star {
    --size: 20vmin;
    --holes: calc(var(--size)*.495);
    width: var(--size);
    aspect-ratio: 1/1;
    position: fixed;
    background: #ef37a1;  
    --mask: radial-gradient(var(--holes) at var(--holes) var(--holes), #0000 99%,#000) calc(var(--holes)*-1) calc(var(--holes)*-1);
    -webkit-mask: var(--mask);
    mask: var(--mask);
    border-radius: 50%;
    animation: sparkle 3s linear forwards;
  }
  @keyframes sparkle {
    0% { transform: scale(0); }
    25% { opacity: 1; }
    100% { opacity: 0; }
  }


  #footer{
    background-color: #000;
    color: $accent1;
    padding-top: 60px;
  }
  #footer .nav-item a, 
  #footer a, 
  {
    color: $accent1;
  }