$accent1: #ef37a1;

[data-bs-theme='dark']  .navbar-light {
    background-color: #fff;
}

[data-bs-theme='dark'] .navbar-nav .nav-link, [data-bs-theme='dark'] .navbar .navbar-brand, .navbar {
    color: #000;
}

[data-bs-theme='light']  .navbar-light {
    background-color: #000;
}
[data-bs-theme='light'] .navbar-nav .nav-link, [data-bs-theme='light'] .navbar .navbar-brand, .navbar {
    color: #fff;
}

.form-check-input:checked{
    background-color: #000;
    border-color: #000;
}