@tailwind base;
@tailwind components;
@tailwind utilities;

.section-h1{
    margin-bottom: 40px;
}

.blog-image-embed{
    width: 100%;
    height: auto;
}

.spotify-embed-container iframe{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.spotify-embed-container iframe.loaded {
    opacity: 1;
}

/* styles.css or another relevant stylesheet */
.custom-heading {
    @apply min-h-[4rem] tracking-tight align-middle font-semibold text-4xl md:text-5xl lg:text-6xl mb-2 md:mb-7 bg-clip-text text-transparent bg-gradient-to-b;
 }
 

/* HERO */
.hero-container {
    position: relative;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

.hero-content {
    position: relative;
    z-index: 2;
    //color: #fceff8;
}


/*
COLOURS OF H1 TEXT, need backgrounds in light and dark for each section. sections must contrast each other. be bold
hero: from-[#FF1CF7] to-[#b249f8]
about: from-[#5EA2EF] to-[#0072F5]
skills: from-[#6FEE8D] to-[#17c964]
recent: from-[#FF705B] to-[#FFB457]
social: from-[#FF72E1] to-[#F54C7A]
*/

/* ATTEMPT 1 */
/*
html.light {
    section#hero {
        background-image: linear-gradient(to right, #FCE0FC, #E9D6FF); // Soft lavender to pastel purple
    }
    section#about {
        background-image: linear-gradient(to right, #D9E9FF, #B2D2FF); // Soft blue to deeper pastel blue
    }
    section#skills {
        background-image: linear-gradient(to right, #E8FFF0, #D1FFDA); // Soft green pastels
    }
    section#recent {
        background-image: linear-gradient(to right, #FFE6E2, #FFF3E1); // Soft orange-red to pastel orange
    }
    section#social {
        background-image: linear-gradient(to right, #FFE2F4, #FFC7D7); // Soft pink to a slightly deep pastel pink
    }
}
  

html.dark {
    section#hero {
        background-image: linear-gradient(to right, #711082, #4F0B66); // Deep purple to darker purple
    }
    section#about {
        background-image: linear-gradient(to right, #2D5175, #10355E); // Navy blue to a darker shade
    }
    section#skills {
        background-image: linear-gradient(to right, #2E6930, #1E4723); // Forest green to a deeper green
    }
    section#recent {
        background-image: linear-gradient(to right, #982A1A, #9B6113); // Deep reddish-brown to a brownish-orange
    }
    section#social {
        background-image: linear-gradient(to right, #9D105B, #790E3E); // Deep pink to a wine shade
    }
}
*/





/*
COLOURS OF H1 TEXT, need backgrounds in light and dark for each section. sections must contrast each other. be bold
hero: from-[#FF1CF7] to-[#b249f8]
about: from-[#5EA2EF] to-[#0072F5]
skills: from-[#6FEE8D] to-[#17c964]
recent: from-[#FF705B] to-[#FFB457]
social: from-[#FF72E1] to-[#F54C7A]
*/


/*
html.light {

    section#about {
        background: linear-gradient(90deg, #E1F5FE, #B3E5FC);
    }
    section#skills {
        background: linear-gradient(90deg, #D9FFC2, #A8FF9E); 
    }
    section#recent {
        background: linear-gradient(90deg, #FFE9E5, #FFF0DF);
    }
    section#social {
        background: linear-gradient(90deg, #FFE1F5, #FFD6E8);
    }

    section#projects {
        background: linear-gradient(90deg, #D9FFC2, #A8FF9E); 
    }
    section#tech-stacks {
        background: linear-gradient(90deg, #FFE9E5, #FFF0DF);
    }
    section#tech {
        background: linear-gradient(90deg, #FFE1F5, #FFD6E8);
    }
}
*/

/*

html.dark {
    section#about {
        background: linear-gradient(90deg, #0A0A0A, #000000); 
    }
    section#skills {
        background: linear-gradient(90deg, #013D15, #001E0A); 
    }
    section#recent {
        background: linear-gradient(90deg, #702010, #5C1800);
    }
    section#social {
        background: linear-gradient(90deg, #700060, #5C0046);
    }

    section#projects {
        background: linear-gradient(90deg, #013D15, #001E0A); 
    }
    section#tech-stacks {
        background: linear-gradient(90deg, #702010, #5C1800);
    }
    section#tech {
        background: linear-gradient(90deg, #700060, #5C0046);
    }
}
*/


li > .general-paragraph {
    @apply mb-0;
}

.general-paragraph {
    @apply my-4;
}

#project ul li{
    list-style-type: disc;
}
#project ol li{
    list-style-type: decimal;
}
