@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
    position: relative;
    background-image: url('/images/hero/hero1-shrink.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 

    .hero-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        
        z-index: 1;
    }

    > *:not(.hero-overlay) {
        position: relative;
        z-index: 2;
    }
}
    html.light .hero-overlay {
        background-color: rgba(255, 255, 255, 0.9);
    }
    html.dark .hero-overlay {
        background-color: rgba(0, 0, 0, 0.7);
    }
    html.light{
        background-color: rgb(238, 233, 241);
    }